/* ============= IMPORT GOOGLE FONT ============ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid purple; */
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

:root {
  --little-green: #82ae46;
  --little-white: #fff;
  --little-black: #1b1b1b;
}

/* ============= BASIC CSS STYLING ============ */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 5rem;
}

li,
p,
a {
  font-size: 1.8rem;
  text-decoration: none;
  list-style: none;
  color: var(--little-black);
}

button{
  padding: 0.8rem 1.2rem;
  background-color: #82ae46;
  border: none;
  border-radius: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s linear;
}

button:hover{
  background-color: #fff;
  border: 1px solid green;
}

/* ============= HEADER SECTION STYLING ============ */

.nav-bar {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand-name {
  font-size: 2.6rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  color: var(--little-green);
}

.nav-links-container {
  display: flex;
  gap: 3rem;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: red;
}

#cart-icon {
  transition: all 0.3s ease-in-out;

  & i {
    font-size: 2.2rem;
  }
}

#cart-icon:hover {
  color: brown;
}

#humburger {
  display: none;
}

.mobile-menu {
  display: none;
}

#close-menu {
  display: none;
  font-size: 2rem;
}

/* ============= MAIN SECTION STYLING ============ */

/* Hero section */

.hero-section {
  height: calc(100vh - 12vh);
  max-width: 1280px;
  position: relative;
}

.bg-hero {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
}

.hero-section img {
  height: 100%;
  width: 100%;
}

.main-heading {
  position: absolute;
  font-size: 6.6rem;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--little-white);
  
}


.hero-bg-active{
  display: block;
  z-index: 99;
}


/* Feature section */

.feature-section{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.feature-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature-icon-holder{
  padding: 2rem;
  background-color: lightpink;
  border-radius: 100%;
  transition: all .5s ease-in-out;
}

 .feature-icon-holder:hover{
  background-color: var(--little-green);
} 



.feature-icon{
  font-size: 3rem;
  width: 6rem;
  aspect-ratio: 1;
  line-height: 6rem;
  text-align: center;
  background-color: lightpink;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 0.3s linear;
}


.feature-heading{
  font-size: 1.8rem;
  text-transform: uppercase;
  color: rgb(81, 79, 79);
}


.feature-condition{
  text-transform: capitalize;
  font-size: 1.6rem;
}

/* Product listing */

.product-listing{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.product-listing img{
  width: 100%;
  height: 300px;
}


.product-card{
  position: relative;
}
.product-listing span{
  position: absolute;
  bottom: 0.9%;
  left: 0;
  font-size: 1.8rem;
  background-color: #82ae46;
  padding: 0.5rem;
  display: inline-block;
  color: var(--little-white);
}

.product-text{
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  gap: 1.5rem;


  & h4{
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  & p{
    font-size: 1.5rem;
  }

  
}

.span-2{
  grid-row: span 2;
  height: 100%;

  & img{
    height: 100%;
  }
}

/* Our product */

#our-product{
  margin-top: 10rem;
}

.heading-part-of-our-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  & p:first-child{
    color: var(--little-green);
    font-weight: 500;
  }

  & h3{
    font-size: 4rem;
  }
}

.product-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 5rem;
  
}

.prod-card{
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 2rem;
  overflow: hidden;
}

.pro-image{
  width: 100%;
  transition: all 0.3s linear;
}

.pro-image:hover{
  scale: 1.1;
}

.item-price{
  font-size: 1.8rem;
  margin-top: 2rem;
}

.fa-shopping-cart{
  font-size: 2rem;
  margin-left: 20px;
  transition: all 0.3s linear;
  margin-top: 2rem;
}

.fa-shopping-cart:hover{
  color: orangered;
}


/* deal section */

#deal-section{
  max-width: 1280px;
  display: flex;
  margin-top: 10rem;
  position: relative;
}

.deal-image{
  width: 100%;
}

.deal-image img{
  width: 100%;
  height: 560px;
  
}

.deal-content{
  position: absolute;
  top: 10%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  & p:first-child{
    font-size: 1.8rem;
    font-weight: 500;
    color: #82ae46;
  }

  & h3{
    font-size: 4rem;
  }

  & h4{
    font-size: 3rem;
    color: #82ae46;
  }

  & span{
    color: #82ae46;
    font-weight: 500;
  }
}

/* ============= FOOTER SECTION STYLING ============ */

/* ============= ADD MEDIA QUERY ============ */

@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  #humburger {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    background-color: lightgreen;
    width: 50%;
    padding: 2rem;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid goldenrod;
    transition: all 0.5s linear;
  }

  .mobile-menu-active {
    left: 50%;
    transform: translateX(-50%);
  }

  .humburger-active {
    display: block !important;
  }

  /* Product listing */

  .span-2{
    order: -1;
  }


  /* Deal section */

  .deal-content{
    left: 10%;
    top: 20%;
  }
}
